[Desktop Entry]
Name=Helix
GenericName=Text Editor
Comment[zh_CN]=编辑文本文件
Comment[zh_TW]=編輯文字檔
TryExec=hx
Exec=/home/erasin/.config/helix/scripts/hx-desktop %u
Terminal=false
Type=Application
Keywords=Text;editor,hx;
Icon=helix
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;text/x-rust;text/x-php;text/x-go;text/x-bash;text/plain;
