# ----------- godot4 -------------
[language-server.godot]
command = "nc" 
args = [ "127.0.0.1", "6005"]

[[language]]
name = "gdscript"
language-servers = ["godot"] 

[[language]]
name = "godot-resource"
scope = "source.tscn"
file-types = ["tscn", "tres", "godot", "gdextension", "import"]
# language-servers = ["godot"]

# [language.debugger]
# name ="gdscript"
# https://ask.godotengine.org/122563/how-to-get-the-godot-lsp-to-work-with-nvim-lsp

# ------ emmet support -------------
[language-server.emmet-language-server]
# command="emmet-language-server"
command="emmet-ls"
args = ["--stdio"]

# ------ tailwindcss-language-server -------

# npm i -g helix-twcss , use hx-tw replace tailwindcss-language-server
[language-server.tailwindcss-language-server]
command = "hx-tw"
# command = "tailwindcss-language-server"
args = ["--stdio"]

# -------- typescript -----------
[language-server.typescript-language-server.config]
hostInfo = "helix"
locale = "zh-CN"

[language-server.typescript-language-server.config.typescript.inlayHints]
includeInlayEnumMemberValueHints = true
includeInlayFunctionLikeReturnTypeHints = true
includeInlayFunctionParameterTypeHints = true
includeInlayParameterNameHints = "all"
includeInlayParameterNameHintsWhenArgumentMatchesName = true
includeInlayPropertyDeclarationTypeHints = true
includeInlayVariableTypeHints = true

[language-server.typescript-language-server.config.javascript.inlayHints]
includeInlayEnumMemberValueHints = true
includeInlayFunctionLikeReturnTypeHints = true
includeInlayFunctionParameterTypeHints = true
includeInlayParameterNameHints = "all"
includeInlayParameterNameHintsWhenArgumentMatchesName = true
includeInlayPropertyDeclarationTypeHints = true
includeInlayVariableTypeHints = true

# ------- svelte -----------

# has merged to master
# [language-server.svelteserver.config.configuration.typescript]
# locale = "zh-CN"
# inlayHints.parameterTypes.enabled = true
# inlayHints.variableTypes.enabled = true
# inlayHints.propertyDeclarationTypes.enabled = true
# inlayHints.functionLikeReturnTypes.enabled = true
# inlayHints.enumMemberValues.enabled = true
# inlayHints.parameterNames.enabled = "all"


# [language-server.svelteserver.config.configuration.javascript]
# locale = "zh-CN"
# inlayHints.parameterTypes.enabled = true
# inlayHints.variableTypes.enabled = true
# inlayHints.propertyDeclarationTypes.enabled = true
# inlayHints.functionLikeReturnTypes.enabled = true
# inlayHints.enumMemberValues.enabled = true
# inlayHints.parameterNames.enabled = "all"

[[language]]
name = "svelte"
roots = ["package.json"]
language-servers = ["svelteserver", "tailwindcss-language-server"]

[[grammar]]
name = "svelte"
source = { git = "https://github.com/Himujjal/tree-sitter-svelte", rev = "697bb515471871e85ff799ea57a76298a71a9cca" }

[[language]]
name = "css"
file-types = ["css", "scss", "less"]
language-servers = [ "vscode-css-language-server", "emmet-language-server", "tailwindcss-language-server" ]

[[language]]
name = "html"
file-types = ["html", "xhtml"]
language-servers = [ "vscode-html-language-server", "emmet-language-server", "tailwindcss-language-server"]

[[language]]
name = "vue"
language-servers = ["vuels", "tailwindcss-language-server" ]

[[language]]
name = "tsx"
language-servers = ["typescript-language-server", "tailwindcss-language-server" ]

[[language]]
name = "jsx"
language-servers = [ "typescript-language-server", "tailwindcss-language-server" ]

# ----------- php --------------
[language-server.intelephense.config]
licenceKey = "/home/erasin/.config/php/intelephenser_licence.txt"
storagePath = "/home/erasin/.config/php/" # os.tmpdir()
globalStoragePath = "/home/erasin/.config/php/" # os.homedir()
# clearCache = false # clean state

# ----------- python pyright --------------

[language-server.pyright]
command = "pyright-langserver"
args =["--stdio"] 

[language-server.pyright.config.pyright.inlayHints]
functionReturnTypes = true
variableTypes = true

[language-server.pyright.config.python.analysis]
autoSearchPaths = true
diagnosticMode = "workspace"
useLibraryCodeForTypes = true

[language-server.pylsp.config]
pylsp.plugins.rope_autoimport.enabled = true

[[language]]
name = "python"
file-types = ["py", "pyi"]
roots = ["pyproject.toml", "pyrightconfig.json"]
# language-servers = ["pyright"]
formatter = { command = "black", args = ["-"] }
auto-format = true

# ---------- dart -----------------

[language-server.dart.config.dart]
# dart lsp 自定义函数，暂不支持
closingLabels = true
outline = true
flutterOutline = true

# ------------ lua --------------

[language-server.lua-language-server.config.Lua.workspace]
library = [
  "${3rd}/love2d/library",
  "${3rd}/busted/library",
  "/usr/local/Cellar/neovim/0.8.3/share/nvim/runtime/lua"
]
[language-server-lua-language-server.config.Lua.diagnostics]
globals = ["vim"]

[language-server.lua-language-server.config.Lua.hint]
enable = true
arrayIndex = "Enable"
setType = true
paramName = "All"
paramType = true
await = true

[[language]]
name = "git-commit"
soft-wrap = { enable = true, wrap-at-text-width = true }


[[language]]
name = "bash"
file-types = [
  "sh",
  "bash",
  "zsh",
  ".bash_login",
  ".bash_logout",
  ".bash_profile",
  ".bashrc",
  ".profile",
  ".zshenv",
  ".zlogin",
  ".zlogout",
  ".zprofile",
  ".zshrc",
  ".bash_alias",
  ".bash_path",
  "host",
]


[[language]]
name = "xml"
file-types = ["xml", "mobileconfig", "plist", "xib", "storyboard", "svg", "ncx", "opf", "iml"]

[[language]]
name = "glsl"
file-types = [
  "glsl",
  "vert",
  "tesc",
  "tese",
  "geom",
  "frag",
  "comp",
  "shader",
  "gdshader",
  "gdshaderinc",
]
roots = ['.git']
# language-server = { command = "glslls", args = ["--stdin"] }
# config = { single_file_support = true }


# dev
[[language]]
name = "markdown"
indent = { tab-width = 4, unit = "    " }
file-types = ["md", "markdown"]
roots = [".git"]
# 设定zen-mode-like
# text-width = 80
# soft-wrap = { enable = true, wrap-at-text-width = true }

# [[language]]
# name = "latex"
# text-width = 80
# soft-wrap = { enable = true, wrap-at-text-width = true }

[[language]]
name = "plantuml"
scope = "source.puml"
injection-regex = "plantuml"
file-types = ["puml", "pu", "wsd"]
roots = []
comment-token = "'"
indent = { tab-width = 2, unit = "  " }

# [[grammar]]
# name = "plantuml"
# source = { path = "/Users/erasin/Development/project/tree-sitter-plantuml", rev = "" }


[[language]]
name = "v"
file-types = ["v", "vv", "vsh"]

[[language]]
name = "env"
file-types = [".env", ".env.local", ".env.development", ".env.production", ".env.dist", ".envrc","env"]

# [[language]]
# name = "http"
# scope = "source.http"
# injection-regex = "http"
# file-types = ["http"]
# roots = []
# comment-token = "#"
# indent = { tab-width = 2, unit = "  " }

# [[grammar]]
# name = "http"
# source = { git = "https://github.com/erasin/tree-sitter-http", rev = "3dc1385ab2d4ce97eb583ced6e962fff8f407830" }

# ------------- typst --------------------

[language-server.typst-lsp] 
command = "typst-lsp" 

[[language]]
name = "typst"
scope = "source.typ"
injection-regex = "^typ(st)?$"
file-types = ["typ","typst"]
roots = []
comment-token = "//"
indent = { tab-width = 2, unit = "  " }
language-servers = ["typst-lsp"]

# [[grammar]]
# name = "typst"
# source = { git = "https://github.com/frozolotl/tree-sitter-typst", rev = "50915c5fefd6d6d2f48b3e6da7136cb0138b160a" }
# source = { git = "https://github.com/SeniorMars/tree-sitter-typst", rev = "2e66ef4b798a26f0b82144143711f3f7a9e8ea35" }
# source = { git = "https://github.com/TheOnlyMrCat/tree-sitter-typst", rev = "dfc0efc184e59e3fad7c9da8e461688ddeecc954" }

# ---------------------- slint ----------------------

# [[grammar]]
# name = "slint"
# # source = { git = "https://github.com/slint-ui/slint", rev = "3e420b32ad7a2e0bca6b3a3193d0c68d1302abf0", subpath="editors/tree-sitter-slint" }
# source = { git = "https://github.com/jrmoulton/tree-sitter-slint", rev = "00c8a2d3645766f68c0d0460086c0a994e5b0d85" }

[[language]]
name = "sshclientconfig"
file-types = ["conf",{ suffix = "config" },]

[[language]]
name = "yaml"
scope = "source.yaml"
file-types = ["yml", "yaml", "meta", "asset"]

# -------------------- haxe ---------------
[[language]]
name = "haxe"
scope = "source.haxe"
injection-regex = "haxe"
file-types = ["hx"]
comment-token = "//"
indent = { tab-width = 4, unit = "\t" }
roots = ["hxml", "haxelib.json", "khafile.js"]
# language-servers = ["haxe-language-server"]

[[grammar]]
name = "haxe"
source = { git = "https://github.com/vantreeseba/tree-sitter-haxe", rev = "b150fdb311e2a24d3e0cba37ae4954427f5d0cf9" }

# [language-server.haxe-language-server]
# command = "node" 
# args = [ "/home/erasin/.vscode/extensions/nadako.vshaxe-2.28.0/bin/server.js"]

# [language-server.haxe-language-server.config]
# displayArguments = ["build.hxml"]
