# windows 下修改配置

[editor]
default-line-ending = 'crlf'

# 输入法切换
# https://github.dev/erasin/win-ime-switch
[keys.normal]
"esc" = ["normal_mode", ":pipe-to win-ime-switch en"]
i = ["insert_mode", ":pipe-to win-ime-switch --toggle"]
I = ["insert_at_line_start", ":pipe-to win-ime-switch --toggle"]
a = ["move_char_right", "insert_mode", ":pipe-to win-ime-switch --toggle"]
A = ["insert_at_line_end", ":pipe-to win-ime-switch --toggle"]
o = ["open_below", ":pipe-to win-ime-switch --toggle"]
O = ["open_above", ":pipe-to win-ime-switch --toggle"]

[keys.normal.space.o]
# 打开 yazi

[keys.normal]
C-y = [
  ':sh del C:\unique-file',
  ':insert-output yazi.exe "%{buffer_name}" --chooser-file=C:\unique-file',
  ':open %sh{type C:\unique-file}',
  ':redraw',
]

## ---- 使用脚本
"e" = [":open %sh{ powershell -ExecutionPolicy Bypass -File D:/erasin/dotfiles/helix/scripts/yazi-picker.ps1 }"]
# 搜索替换
"s" = [":sh powershell -ExecutionPolicy Bypass -File D:/erasin/dotfiles/helix/scripts/scooter-picker.ps1"]
"g" = [":sh powershell -ExecutionPolicy Bypass -File D:/erasin/dotfiles/helix/scripts/lazygit-picker.ps1"]


# 输入法切换
[keys.insert]
"esc" = ["normal_mode", ":pipe-to win-ime-switch en"]
